
h1{
    color:black;
    font-style:italic ;
}
body{
    background-color: white;
}
form{
    padding:10;
    margin-left: 30px;
}
.header{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 40px;
    margin-left: 300;
    width: 350px;
    text-align: center;
}
.login {
    background-color: #53bdeb;
    margin-top: 10px;
    padding-right: 80px;
    padding-left: 80px;
    width : 320px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.divider span {
    font-weight: bold;
    color: #666;
}
.forgot{
    color: 0, 55, 107;
    font-size: 12px;
}
.signup {
    margin-top: 20px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    color: black;
    padding: 10px ;
    width: 410px;

}

.get-app {
    width: 410px;
    margin-top: 20px;
    font-size: 14px;
    color: black;
}
footer{
    margin-right: 800px;

}
.facebook-login {
    display: flex;
    align-items: center;
    margin-left: 97px;
}

.facebook-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px; 
}

.login-text {
    font-size: 14px;
    color: #385185;
}
.anotherapp {
    display: flex;
    align-items: center; 
    margin: 10px;
    margin-left: 70px;
  }
  
.Micro{
    margin-right: 10px; 
}

